.hairstyle-box {
  background-color: #FFF;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hairstyle-box>.hairstylename {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.hairstyle-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.or-text {
  font-size: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-hairstyle {
  width: 40%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 60%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}